html, body {
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
  color: purple;
}

a:hover {
  color: red;
}

.image_field {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}
nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.del_but {
    text-align: center;
}

#form_parent{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 90%;
   height: 90%;
}

#form_child{
   margin-top: 10vh;
   position: relative;
   width: 50%;
}

#image_parent{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 90%;
   height: 90%;
}

#image_child{
   padding-left: 7.5vw;
   position: relative;
   align-items: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
}

#image_frame{
    align-items: right;
}

#form_field{
    width: 100%;
    margin-bottom: 2vh;
}