html, body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: #d64161;
}

a {
  color: white;
}

a:hover {
  color: red;
}

.image_field {
    margin-top: 3vh;
    padding: 10px;
    background-color: #black;
    text-align: center;
}

nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.del_but {
    text-align: center;
}


/* Style the submit button */
input[type=submit], file{
  margin-top: 3vh;
  background-color: #d64161;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}


#image_parent{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 90%;
   height: 90%;
}

#image_child{
   position: relative;
   align-items: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
}

#image_frame{
    align-items: right;
}

