{% extends 'base.html' %}

{% block content %}

  <div id="image_parent">
    <div id="image_child">
        <div class='image_field'>
            <h4>
                <p>Educational Website for</p>
            </h4>
            <h3>
                <p>Artificial Intelligence</p>
                <p>Image Generation</p>
            </h3>
            <br>
            {% if num_images %}
            <h4>
                Images in DB:
            </h4>
            <h3>
                {{ num_images }}
            </h3>
            <h4>
                Total images created:
            </h4>
            <h3>
                {{ total_images }}
            </h3>
            {% endif %}
        </div>
    </div>
  </div>

{% endblock %}
