{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div id="form_parent">
    <div id="form_child">
        <h1>{% block title %} Create an Image {% endblock %}</h1>
        <form method="post">
            <label for="title">Title</label>
            <br>
            <input class="form-control" type="text" name="title" placeholder="Image title"
                   value="{{ request.form['title'] }}">
            <br>

            <label for="content">AI instructions</label>
            <br>
            <input class="form-control" type="text" name="content" placeholder="Image content decription"
                   value="{{ request.form['content'] }}">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
  </div>
</div>

{% endblock %}
