{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div id="parent">
    <div id="child">
        <h1>{% block title %} Edit an Image {% endblock %}</h1>
        <form method="post" onSubmit="return handleClick()" enctype="multipart/form-data">
            Title
            <br>
            <input class="form-control" type="text" name="title" placeholder="Image title"
                   value="{{ request.form['title'] }}">

            <br>
            <label for="inputFile">File input</label>
            <br>
            <input class="form-control-file" type="file" name="inputFile">

            <br>
            <br>
            AI instructions
            <br>
            <input class="form-control" type="text" name="instructions" placeholder="explain how to change the image"
                   value="{{ request.form['instructions'] }}">
            <br>
            <br>
            <input type="submit" value="Edit Image">
            <br>
        </form>

        <br>
        <div class="image_view">
            {% if image %}
                <div class='image_field'>
                    <h3>{{ image['title'] }}</h3>
                    <img src="{{ image['url'] }}"/>
                </div>
            {% endif %}
        </div>
        <br>

    </div>
  </div>
</div>

{% endblock %}
