{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='index.js') }}"></script>

  <div id="image_parent">
    <div id="image_child">
        {% for image in images %}
            <div class='image_field' id="{{ image['id'] }}">
                <h3>{{ image['title'] }}</h3>
                <img src="data:;base64,{{ image['rendered_data'] }}"/>
                <div class="del_but">
                    <a href="javascript:handleDelete({{image['id']}})">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}
